<ion-view view-title="About Corvus">
	<ion-content delegate-handle="main" class="max-width" has-bouncing="false">
		<div class="card">
		 <div class="item item-divider bigIcon">
		    <h2><i class="icon ion-connection-bars"></i> Mobile</h2>
		  </div>
		  <div class="item item-text-wrap">
		    Kickstart your business with a mobile application. We can customize to fit your business need using various mobile plaforms and devices including iPhone, iPad, Android and Windows Phone.
		  </div>
		</div>
		<div class="card">
		 <div class="item item-divider">
		    <h2><i class="icon ion-ios-briefcase"></i> Web</h2>
		  </div>
		  <div class="item item-text-wrap">
		    From simple a website to advance ecommerce, we customize and integrate various proven technologies to bring you a complete solution for your business. Our approach can leverage open source technologies or custom build code to meet your business need.
		  </div>
		</div>
		<div class="card">
		 <div class="item item-divider">
		    <h2><i class="icon ion-android-cart"></i> Ecommerce</h2>
		  </div>
		  <div class="item item-text-wrap">
		    Our technology recipes can deliver quick and economic open source solution. We also offer social media and internet marketing to build a digital present for your business.
		  </div>
		</div>
	</ion-content>
</ion-view>