<ion-side-menus enable-menu-with-back-views="true">
	<!-- Main content -->
	<ion-side-menu-content edge-drag-threshold="true">
		<ion-nav-bar class="bar-balanced">
			<ion-nav-buttons side="left">
				<button type="button" menu-toggle="left" class="button button-icon icon ion-navicon">					
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="mainContent"></ion-nav-view>
	</ion-side-menu-content>

	<!-- Left menu -->
	<ion-side-menu side="left" width="310">
		<ion-content>
			<!-- Application Actions -->
			<div class="list">
				<a class="item item-icon-left" menu-close href="#/home">
					<i class="icon ion-home"></i>
					Home
				</a>
				<a class="item item-icon-left" menu-close href="#/about">
					<i class="icon ion-egg"></i>
					About Us
				</a>
				<a class="item item-icon-left" menu-close href="#/portfolio">
					<i class="icon ion-folder"></i>
					Portfolio
				</a>
				<a class="item item-icon-left" menu-close href="#/contact">
					<i class="icon ion-email"></i>
					Contact Us
				</a>
			</div>

		</ion-content>
	</ion-side-menu>
</ion-side-menus>