<ion-side-menus enable-menu-with-back-views="true">
	<!-- Main content -->
	<ion-side-menu-content edge-drag-threshold="true">
		<ion-nav-bar class="bar-dark nav-title-slide-ios7">
			<ion-nav-buttons side="left">
				<button type="button" menu-toggle="left" class="button button-icon icon ion-navicon">					
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="mainContent"></ion-nav-view>
	</ion-side-menu-content>

	<!-- Left menu -->
	<ion-side-menu side="left" width="310">
		<ion-content>
			<!-- Application Actions -->
			<div class="list">
				<a class="item item-icon-left" menu-close href="#/abc">
					<i class="icon fa fa-check-square-o"></i>
					ABC
				</a>
				<a class="item item-icon-left" menu-close href="#/ere">
					<i class="icon ion-plane"></i>
					AXFR
				</a>
				<a class="item item-icon-left" menu-close ng-click="Form()">
					<i class="icon icon ion-ios7-search-strong"></i>
					SD#$
				</a>
			</div>

		</ion-content>
	</ion-side-menu>
</ion-side-menus>